@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "SF Mono";
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/SFMonoLight.woff') format('woff')
  },
  @font-face {
    font-family: "SF Mono";
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/SFMonoMedium.woff') format('woff')
  },
  @font-face {
    font-family: "SF Mono";
    font-style: semibold;
    font-weight: 500;
    src: url('/fonts/SFMonoMedium.woff') format('woff')
  }
}

.navItem {
  font-family: 'SF Mono', sans-serif;
  font-weight: 300;
  font-size: 0.8em;
}

.email {
  font-family: 'SF Mono', sans-serif;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.1em;
}

.SFMono {
  font-family: 'SF Mono', sans-serif;
}

@layer components {
  .activeTab {
    @apply   text-orange-text border-orange-border bg-orange-bg bg-opacity-20
  }
  
  .unactiveTab {
    @apply  border-gray-border hover:bg-orange-bg hover:text-orange-text hover:bg-opacity-20 transition duration-200 ease-out text-gray-500
  } 
}

.blurFix {
  backdrop-filter: blur(0);
  /* mix-blend-mode: multiply; */
}